# Go build artifacts
*.exe
*.dll
*.so
*.dylib
*.test
*.out
bin/
build/
dist/
coverage.out

# Binaries
main
pokedexcli

# Dependency vendor dir (omit if you vendor)
vendor/

# Neovim/Vim
*.swp
*.swo
*.swn
*~
Session.vim
.tags
tags
.tmp
.netrwhist
undo/

# OS junk
.DS_Store
Thumbs.db
